html {
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( 135deg, #feffb6 30%, #cfcece 0, #cfcece 50%, #feffb6 0, #fff 0%, #fff 0 );
}
.wrapper {
    max-width: 90%;
    margin: 100px auto;
}

h1{
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 50px;
}
.carousel {
    position: relative;
}

.carousel .mask {
    position: relative;
    overflow: hidden;
    width: 600px;
}

.carousel .slideset {
    width: 99999px;
    float: left;
}

.carousel .slide {
    width: 600px;
    float: left;
}
